<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controller/controller.index.js"></script>
    <title>Home Center</title>

</head>
<body ng-app="initApp">
<div ng-controller="IndexController">
{{ test }}

</div>
</body>
</html>